.construction-icon {
    font-size: 88px;
    color: bisque;
    margin-top: 20px;
}

h5 {
    color: white;
    font-size: 26px;
    font-family: Helvetica;
}

.text-sphere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}


.tagcloud--item {
    color: rgb(255, 255, 255);
    // text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #f8b2a5;
}

.skills {
    margin: auto;
    width: 100%;
}

.tagcloud {
    // display: inline-block;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 2em;
    // radius: min(80vw, 800px); 
}

.text-sphere-container-mobile {
    display: none;
}

.mobile-sparkles{
    display: none;
}

@media screen and (max-width: 1200px) {

.text-sphere-container-mobile {
    display: unset;
}

.text-sphere-container {
    display: none;
}

.tagcloud {
    font-size: 1.3em;
}

.regular-sparkles {
    display: none;
}

}