.slider {
  position: relative;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-position: center;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -8%;
  z-index: 1;
  cursor: pointer;
  width: 45px;
  height: auto;
}

.arrow-space :hover {
  color: white;
}

h4 {
  font-size: 18px;
  color: rgb(225, 221, 218);
  color: rgb(94, 88, 79);
  font-family: Arial;
  font-weight: normal;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -8%;
  z-index: 1;
  cursor: pointer;
  width: 45px;
  height: auto;
}

.spacing-for-subtext {
  margin-bottom: 0px;
  margin-top: 10px;
  background: rgb(233, 228, 219);
  padding: 10px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .left-arrow {
    left: -12%;
    width: 35px;
    height: auto;
  }

  .right-arrow {
    right: -12%;
    width: 35px;
    height: auto;
  }
}