.slider {
  position: relative;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  // border-radius: 10px;
  //below used to fix image display issue but was causing problems with the navigation arrows
  // padding:15px;
  background-position: center;
  // background-size:cover;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -10%;
  font-size: 35px;
  color: rgb(60, 54, 49);
  z-index: 1;
  cursor: pointer;
}

.arrow-space :hover {
  color: white;
}

h4 {
  font-size: 18px;
  color:rgb(225, 221, 218);
  font-family: Arial;
  font-weight: normal;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -10%;
  font-size: 35px;
  color: rgb(60, 54, 49);
  z-index: 1;
  cursor: pointer;
}

.spacing-for-subtext {
  margin-bottom: 10px;
  margin-top: 10px;
  background:rgb(60, 54, 49);
  padding: 10px 20px;
}